/* 
    清除样式:
        1.清除标签自带的距离样式
        2.ul的默认样式
        3.a的默认样式

     */
     /* 1 */
     *{
      margin:0px;
      padding: 0px;
      box-sizing: border-box;
    }
    /* 2 */
    ul {
      list-style: none;
    }
    /* 3 */
    a {
      text-decoration: none;
    }
    h1, h2, h3, h4, h5, h6{font-weight:normal;}